<!DOCTYPE html>

<html lang="en" dir="ltr">

<style>
    body {text-align:center}
</style>

  <head>
    <meta charset="utf-8">
    <title>Vintage Movie Recommender</title>
  </head>

  <body style="background-color:lightgrey;">

    <a><img src="https://i.ibb.co/QnZyPvq/title-Kopie.png" alt="vintage_movie_recommender" border="0"></a>

    <h2>Get your nerdy 20th century <br>film recommendations rigth here!</h2>

    <p>How does it work?<br> Please rate at least five of the following movies on a scale from 0 to 5.<br>
    Ideally, you should rate films with which you associate strong feelings (good or bad).</p>

    <form action="/recommendations">
      Forrest Gump (1994): <input type=number name="Forrest Gump (1994)" placeholder="0-5"><br>
      Silence of the Lambs, The (1991): <input type=number name="Silence of the Lambs, The (1991)" placeholder="0-5"><br>
      Matrix, The (1999): <input type=number name="Matrix, The (1999)" placeholder="0-5"><br>
      Trainspotting (1996): <input type=number name="Trainspotting (1996)" placeholder="0-5"><br>
      I Still Know What You Did Last Summer (1998): <input type=number name="I Still Know What You Did Last Summer (1998)" placeholder="0-5"><br>
      Braveheart (1995) <input type=number name="Braveheart (1995)" placeholder="0-5"><br>
      Terminator 2: Judgment Day (1991) <input type=number name="Terminator 2: Judgment Day (1991)" placeholder="0-5"><br>
      Schindler's List (1993) <input type=number name="Schindler's List (1993)" placeholder="0-5"><br>
      Toy Story (1995) <input type=number name="Toy Story (1995)" placeholder="0-5"><br>
      Usual Suspects, The (1995) <input type=number name="Usual Suspects, The (1995)" placeholder="0-5"><br>
      American Beauty (1999) <input type=number name="American Beauty (1999)" placeholder="0-5"><br>
      Seven (a.k.a. Se7en) (1995) <input type=number name="Seven (a.k.a. Se7en) (1995)" placeholder="0-5"><br>
      Independence Day (a.k.a. ID4) (1996) <input type=number name="Independence Day (a.k.a. ID4) (1996)" placeholder="0-5"><br>
      Apollo 13 (1995) <input type=number name="Apollo 13 (1995)" placeholder="0-5"><br>
      Godfather, The (1972) <input type=number name="Godfather, The (1972)" placeholder="0-5"><br>
      Batman (1989) <input type=number name="Batman (1989)" placeholder="0-5"><br>
      Saving Private Ryan (1998) <input type=number name="Saving Private Ryan (1998)" placeholder="0-5"><br>
      Fargo (1996) <input type=number name="Fargo (1996)" placeholder="0-5"><br>
      Sixth Sense, The (1999) <input type=number name="Sixth Sense, The (1999)" placeholder="0-5"><br>
      True Lies (1994) <input type=number name="True Lies (1994)" placeholder="0-5"><br>
      <p><input type="submit" value="Get me movies!" id="button"></p>
      <p><font size="-1">© by Daniel - This is a Week 10 Project of the 'Data Sciences' course by <a href="https://www.spiced-academy.com/en/">SPICED Academy</a></font></p>
    </form>




  </body>

</html>
