<!DOCTYPE html>

<html lang="en" dir="ltr">

<style>
    body {text-align:center}
</style>

  <head>
    <meta charset="utf-8">
    <title>{{title1}}</title>
  </head>

  <body style="background-color:lightgrey;">

    <a><img src="https://i.ibb.co/VSbQH0N/DALL-E-2022-11-23-14-05-16-An-expressive-oil-painting-with-a-characteristic-facade-of-a-20th-century.png" alt="DALL-E-2022-11-23-14-05-16-An-expressive-oil-painting-with-a-characteristic-facade-of-a-20th-century" border="0"></a>
    <p><br></p>
      <ul>
        {%for f in films_var%}
          <li><font size="+2">{{f}}</font></li>
        {%endfor%}
      </ul>
    <p><br></p>
  <p>What to do next?<br> Go to <a href="https://www.justwatch.com">justwatch.com</a> and search for the recommended movies
  to find out where to stream or rent it.<br> Enjoy these classic movie gems!</p>

  </body>

</html>
